@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap');
*{box-sizing: border-box;}
*{text-decoration: none;}
body {
    background-color: #FB6B6B; 
    font-family: 'Recursive', sans-serif;
}
header {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 52px;
    height: 60px;
}
header h1 {
    margin-left: 20px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    min-height: 70px;
    position: fixed;
    bottom: 0;
}
button {
    all:unset;
}
ion-icon{
    visibility: visible;
}


.homePage{
    margin-top: 100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;

}
.homePage img {
    width: 136px;
    height: 161px;
}
.homePage h1 {
    margin-bottom: 40px;
    font-size: 36px;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
}
.homePage button {
    margin-bottom: 40px;
    width: 246px;
    height: 54px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
}

.zaps{
    margin-bottom: 75px;
    min-height: 70vh;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    overflow-y:auto;
}

.zapCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.zapCard.wrongAnswer{
    text-decoration: line-through;
    color: #D70900;
}

.zapCard.halfCorrectAnswer{
    text-decoration: line-through;
    color: #FF922E;
}
.zapCard.correctAnswer{
    text-decoration: line-through;
    color: #2FBE34;
}
.zapCard p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
}
.zapCard ion-icon {
    font-size: 25px;
    margin-right: 10px;
}
.zapContainer{
    all:inherit
}
.hidden {
    display: none;
}
.zapClicked{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.zapClicked img{
    margin-left: 250px;
    width: 30px;
    height: 20px;
}
.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrong , .halfCorrect, .correct {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.correctAnswer{
    color:#2FBE34
}
.incorrectAnswer{
    color:#D70900
}
.halfCorrectAnswer{
    color:#FF922E
}
.wrong {
    background-color: #FF3030;
}
.halfCorrect {
    background-color: #FF922E;
}
.correct {
    background-color: #2FBE34;
}
.finalResult{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resultMessage{
    display: flex;
}
.resultMessage p {
    text-align: center;
    margin-left: 5px;
    font-weight: 700;
}