@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap');

body {
    background-color: #FB6B6B; 
    font-family: 'Recursive', sans-serif;

}

.homePage{
    margin-top: 100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;

}
.homePage img {
    width: 136px;
    height: 161px;
}
.homePage h1 {
    margin-bottom: 40px;
    font-size: 36px;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
}
.homePage button {
    all: unset;
    margin-bottom: 40px;
    width: 246px;
    height: 54px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
}
